body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


html {
  scroll-behavior: smooth !important;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}





/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;

}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Title Section */

.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

/* .title-container {
  max-height: 600px;
  overflow: hidden;
} */

#title {
  background-color: #ff4c68;
  color: #ffffff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


/* Features */

#features {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}


.feature-box {
  color: #8f8f8f;
  padding: 3%;
}

.feat-icon {
  color: #ef8172;
  /*font-size: 4rem;*/
  margin: 1rem 0;
}

.feat-icon:hover {
  color: #ff4c68;
}

.feature-title {
  color: #000;
  font-size: 1.5rem;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px; /*3d-Shorthand property: Top left&Right Bottom*/
  width: 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 2% 3%;
}

@media (max-width: 1028px){
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    right: 30%;
    transform: rotate(0deg);
    width: 60%;
  }
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  margin: 0 auto;
  padding: 0 0;
}

/* #footer {

} */


a.social-media:active, a.social-media:hover, a.social-media:link, a.social-media:visited {
  color: #000;
}

.social-media {
  margin: auto 10px;
}

